nav {
  background-color: #3b7cf3;
  color: white;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  z-index: 1;
}

nav > h1 {
  padding: 20px;
  font-size: 28px;
  cursor: pointer;
}
nav > ul {
  display: flex;
}
nav > ul > li {
  padding: 25px;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
}

.navChange {
  background-color: white;
  color: #3b7cf3;
  font-weight: bold;
  border-bottom: 2px solid gainsboro;
}
